.row-latest-projects {
	position: relative;
}

.project-container {
	max-width: 1400px;
	margin: 0 auto;
	padding: 0 15px;
}

.image-box,
.text-box {
	width: 50%;
}

.text-box {
	float: right;
	padding: 8.21% 15px 0 7.14%;
	font-size: 0;
}

.text-box-2 {
	float: left;
	padding-left: 15px;
	padding-right: 7.14%;
}

.image-box {
	background: url('../img/image-left.png');
	background-size: cover;
	background-position: center top;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 50%;
}

.image-box-2 {
	background: url('../img/image-right.png');
	background-size: cover;
	background-position: center top;
	position: absolute;
	top: 0;
	left: 50%;
	bottom: 0;
	right: 0;
}

.project-paragraph {
	color: #8198a0;
	font-size: 18px;
	font-weight: 400;
	line-height: 36px;	
}

.project-paragraph-box {
	text-align: left;
	padding-top: 4.28%;
	padding-bottom: 10%;
}

.latest-projects-list {
	color: #28363d;
	font-size: 15px;
	font-weight: 600;
	text-transform: uppercase;
	white-space: nowrap;
}

 .icon-box {
 	display: inline-block;
 	width: 50%;
 }

.icon {
	vertical-align: middle;
 	margin-right: 20px;
}

.icon-monitor::before {
	content: url('../pic/monitor.png'); 
}

.icon-tablet::before {
	content: url('../pic/tablet.png');
}

.icon-crop::before {
	content: url('../pic/crop.png');
}

.icon-documents::before {
	content: url('../pic/documents.png');
}

.button-link {
	margin-bottom: 10%;
}

.button-link .btn__link {
	border: 2px solid #1ed6cb;
    background-color: #1ed6cb;
    color: #ffffff;
    width: 200px;
	height: 50px;
}

.find_more {
	padding: 17px 45px 17px 35px;
}

.find_more::after {
	content: url('../pic/arrow.png');
	width: 8px;
	height: 12px;
	position: absolute;
	right: 25px;
	top: 50%;
	transform: translateY(-50%);
}

.find_more:hover {
	background-color: #2eb8b8;
}

.our_lates_projects {
	max-width: 1400px;
	margin: 0 auto;
	padding: 6% 15px 0;
	max-height: 400px;
    overflow: auto;
}

.project-paragraph-our {
	text-align: center;
	margin: 0 auto;
	max-width: 590px;
}

.exclusive_branding {
	color: #28363d;
	font-size: 18px;
	font-weight: 700;
	line-height: 36px;
	text-transform: uppercase;
	text-align: center;
	position: relative;
}

.exclusive_branding::after {
	content: '';
	background: url('../pic/separator.png');
	width: 31px;
	height: 6px;
	position: absolute;
	top: 100%;
	left: 50%;
	margin-left: -15.5px;
}

.date {
	color: #28363d;
	font-size: 16px;
	font-weight: 600;
	line-height: 36px;
	text-align: center;
	padding-top: 3px;
}

.gallery {
	padding: 6% 15px 10%;
	max-width: 1400px;
	margin: 0 auto;
}

.project-list {
	font-size: 0;
	margin: 0 -0.714%;
}

.project-item {
	display: inline-block;
	width: 48.57%;
	margin: 0 0.714% 1.428%;
	position: relative;
}

.project-item img{
	width: 100%
}

.item-info {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background-color: #ffffff;
	opacity: 0.92;
	margin: 15px;
}

.project-item:hover .item-info{
	display: block;
}

.item-in {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	margin: 15px;
	border: 2px dotted #3ddcd2;
	display: flex;
	flex-direction: column;
	justify-content: center;
	overflow: hidden;
}

.sub-title {
	margin-bottom: 35px;
}

.sub-title.decoration:after {
	top: 110%;
}

.clearfix::after,
.project-container::after,
.text-box::after  {
	content: '';
	display: block;
	overflow: hidden;
	clear: both;
}


@media screen and (min-width: 1440px) {
	.text-box {
		padding: 8.21% 0 0 7.14%;
	}

	.text-box-2 {
		padding-left: 0;
	}
}

@media screen and (max-width: 1280px) {
	 .icon-box {
	 	width: 100%;
	 	text-align: center;
	 	margin-bottom: 5px;
	}

	.text-box .button-link {
		text-align: center;
		margin-bottom: 8%;
	}

	.text-box {
		padding-top: 2%;
	}
}


@media screen and (max-width: 979px) {
	.text-box {
		float: none;
		width: 100%;
		padding: 5% 5% 0;
		background: rgba(255, 255, 255, 0.7);
	}

	.project-paragraph-box {
		text-align: center;
	}

	.image-box {
		display: none;
		position: static;
		width: 100%;
		min-height: 200px;
		max-height: 300px;
	}

	.project-container {
		background: url('../img/image-left.png');
		background-size: cover;
		background-position: center top;
		margin-bottom: 10px;
		padding: 0;
	}

	.project-container-2 {
		background: url('../img/image-right.png');
		background-size: cover;
		background-position: center top;
	}

	.project-paragraph-box {
		padding-bottom: 4.28%;
	}

	.project-item {
		width: 100%;
		margin: 0 0 1.5%;
		text-align: center;
	}

	.our_lates_projects {
		margin: 0 auto;
		max-width: 270px;
	}

	.project-paragraph {
		font-size: 15px;
		line-height: 30px;
	}

	.our_lates_projects .sub-title {
		font-size: 21px;
	}

	.exclusive_branding {
		font-size: 15px;
	}

	.date {
		font-size: 14px;
	}
}

@media screen and (max-width: 480px) {
	.project-paragraph-box,
	.our_lates_projects {
		max-height: 400px;
		overflow: auto;
	}
}