.section-why {
	position: relative;
	text-align: center;
    font-size: 0; 
}

.section-why::after, .section-why::before {
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
}

.section-why::after  {
	background-color: rgba(12, 25, 39, 1);
	background-image: url('../img/section-background1.png');
	-webkit-background-size: cover;
	background-size: cover;
	background-repeat: no-repeat;
	z-index: -2;
}

.section-why::before {
	background-color: rgba(250, 250, 250, 0.7);	
	z-index: -1;	
}

.why-container {
	padding-top: 6%;
}

.section-text {
	margin: 0 25%;
	text-align: center;
}

.blocks {
	margin: 0 10%;
	padding-bottom: 5%;
}
.blocks a {
	vertical-align: top;
	width: 15%;
	margin: 3% 3%;
    padding: 5px 15px 3px 15px;
    display: inline-block;
    font-size: 16px;
    min-width: 120px;
}

.blocks a:hover {
	opacity: 0.6;
}

.blocks h3 {
    margin: 15px 0;
}

.get-started {
	width: 100%;
	text-align: center;
}
.get-started .started__btn {
	margin-bottom: 40px;
}
.get-started h3 {
	font-size: 28px;
	line-height: 44px;
	font-weight: 400;
	padding: 3%;
}

.get-started-title {
	text-transform: none;
}
/* what Sergio removed from base.css and i want it */
.bg-dark{
	background-color: #28363d;
}
.bg-blue{
	background-color: #1ed6cb;
}

.color__black{
	color: #28363d;
}
.color__blue{
	color: #1ed6cb;
}
.color__white{
	color: #fff;
}
.color__grey{
	color: #8198a0;
}
.title__text, .sub-title__text{
	font-weight: 700;
	text-transform: uppercase;
	text-align: center;
	position: relative;
}

h1{
	font-size: 36px;
	text-transform: uppercase;
}
h2{
	font-size: 24px;
	text-transform: uppercase;
}
h3{
	font-size: 16px;
	font-weight: 600;
	text-transform: uppercase;
}
p{
	font-size: 18px;
	font-weight: 400;
	line-height: 36px;
}
a{
	text-decoration: none;
}