<div class="footer">
			
			<div class="footer__separator">
				<div class="main-container">
					<div class="row">
						<div class="fs-col__link">
							<a href="#" class="fs__link">
								Check out our portfolio for more
							<i class="icon arrow-right-black__icon"></i>	
							</a>
						</div>
						<div class="fs-col__buttons">
							<a href="#" class="btn__link subscribe__btn bg-transparent">Subscribe</a>
							<a href="#" class="btn__link started__btn">Get started</a>
						</div>
					</div>
				</div>
			</div>

			<div class="footer__counter">
				<div class="main-container">
					<div class="row">
						<div class="counter-col">
							<i class="icon male-user__icon"></i>
							<span class="count__strong">748K</span>
							<p class="count__descr">Fans on twitter</p>
						</div>
						<div class="counter-col">
							<i class="icon heart__icon"></i>
							<span class="count__strong">43K</span>
							<p class="count__descr">likes on facebook</p>
						</div>
						<div class="counter-col">
							<i class="icon wallet__icon"></i>
							<span class="count__strong">9351</span>
							<p class="count__descr">Monthly sales</p>
						</div>
					</div>
				</div>
			</div>
			<div class="footer__about" style="background-image: url(img/your-image-here.png); background-color: rgba(30,214,203,0.75);">
				<div class="main-container">
					<div class="content">
						<h2 class="sub-title">What clients say about us?</h2>
						<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium
							doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore
							veritatis et quasi architecto beatae vitae dicta sunt explicabo. </p>
							<div class="navigation">
								<div class="btn__prev"></div>
								<div class="btn__next"></div>
							</div>	
						</div>
					</div>
					<div class="overlay" ></div>
				</div>

				<div class="footer__contact" style="background-image: url(img/map-pattern.png);">
					<div class="main-container">
						<div class="row">
							<div class="contact-col logo-contact">
								<h2>Octavia</h2>
								<p class="contact__descr">The last Wordpress theme <br>
									you will ever need.</p>
								</div>
								<div class="contact-col">
									<h3 class="sub-title decoration">
										Social media
									</h3>
									<ul class="social__list">
										<li><a href="#">
											<i class="icon inst__icon"></i></a>
										</li>
										<li><a href="#">
											<i class="icon twitter__icon"></i></a>
										</li>
										<li><a href="#">
											<i class="icon facebook__icon"></i></a>
										</li>
									</ul>
								</div>
								<div class="contact-col map-text">
									<h3 class="sub-title decoration">
										Address
									</h3>
									<div class="contact__descr-holder">
										<p class="contact__descr">1731 Bunker Hill Road Northeast <br>
										Washington, DC 20017 </p>
									</div>
									</div>
								</div>
							</div>
						</div>

					</div>
	
				<div class="footer__copyrights">
					Copyrights 2015 © Octavia / <span>Available For Purchase</span>
				</div>