	
	<div class="header__menu">
		<div class="main-container">
			<div class="top-menu">
				<div class="logo">
					<img src="img/your-logo-here.png" class="your__logo" alt="">
			</div>
				<label class="min--menu" for="min"></label>
				<input type="checkbox" id="min">

			<nav class="main__navigation">
				<a href="#" class="menu__link">Home</a>
				<a href="#" class="menu__link">Portfolio</a>
				<a href="#" class="menu__link">Modules</a>
				<a href="#" class="menu__link">Blog posts</a>
				<a href="#" class="menu__link">Demos</a>
				<a href="#" class="menu__link">Pages</a>
				<a href="#" class="menu__link">Shop</a>	
			</nav>
			<div class="finder__menu">
				<a href="#" class="buy__button">Purche This</a>
				<button class="find"></button>
				<button class="slide__menu"></button>
			</div>
			</div>
		</div>
	</div>
	<div class="header-content">
		<div class="main-container">
			<h1 class="header-title">The last wordpress theme</h1>
			<h2 class="header-subtitle">you’ll ever need</h2>
			<div class="header-pointer">
				<a href="#"></a>
			</div>
		</div>
	</div>
	<div class="welcome">
		<h2 class="sub-title decoration">Welcome</h2>
		<p class="text__header">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut.
		</p>
	</div>