<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Anchor</title>
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/base.css">
    <link rel="stylesheet" href="css/heder.css">
    <link rel="stylesheet" href="css/why.css">
    <link rel="stylesheet" href="css/latest-projects.css">
    <link rel="stylesheet" href="css/footer.css">
</head>
<body>
    <div class="wrap">
    
        @@include('./heder.html')
        @@include('./why.html')
        @@include('./latest-projects.html')
        @@include('./footer.html')

    </div>

</body>
</html>