<div class="latest-projects-container">
        <div class="project-section">
            <div class="row-latest-projects">
                <div class="project-container">
                    <div class="image-box"></div>
                    <div class="text-box">
                        <div class="icon-box">
                            <p class="latest-projects-list"><i class="icon icon-monitor"></i>CROSS PLATFORM</p>
                        </div>
                        <div class="icon-box">
                            <p class="latest-projects-list"><i class="icon icon-tablet"></i>FULLY RESPONSIVE</p>
                        </div>
                        <p class="project-paragraph project-paragraph-box">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
                        <div class="button-link">
                            <a href="#" class="btn__link find_more">Find out more</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row-latest-projects">
                <div class="project-container project-container-2">
                    <div class="image-box image-box-2"></div>
                    <div class="text-box text-box-2">
                        <div class="icon-box">
                            <p class="latest-projects-list"><i class="icon icon-crop"></i>Retina Ready</p>
                        </div>
                        <div class="icon-box">
                            <p class="latest-projects-list"><i class="icon icon-documents"></i>Well documented</p>
                        </div>
                        <p class="project-paragraph project-paragraph-box">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
                        <div class="button-link">
                            <a href="#" class="btn__link find_more">Find out more</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="our_lates_projects">
            <h2 class="sub-title decoration">Our latest projects</h2>
            <p class="project-paragraph project-paragraph-our">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab.</p>
        </div>

         <div class="gallery">
            <div class="project-list">
                <div class="project-item">
                    <img src="img/image-1.png">
                    <div hidden class="item-info">
                        <div class="item-in">
                            <h3 class="exclusive_branding">Exclusive Branding</h3>
                            <p class="date">7th July, 2015</p>
                        </div>
                    </div>
                </div>
                <div class="project-item">
                    <img src="img/image-2.png">
                    <div hidden class="item-info">
                        <div class="item-in">
                            <h3 class="exclusive_branding">Exclusive Branding</h3>
                            <p class="date">7th July, 2015</p>
                        </div>
                    </div>
                </div>
                <div class="project-item">
                    <img src="img/image-3.png">
                    <div hidden class="item-info">
                        <div class="item-in">
                            <h3 class="exclusive_branding">Exclusive Branding</h3>
                            <p class="date">7th July, 2015</p>
                        </div>
                    </div>
                </div>
                <div class="project-item">
                    <img src="img/image-4.png">
                    <div hidden class="item-info">
                        <div class="item-in">
                            <h3 class="exclusive_branding">Exclusive Branding</h3>
                            <p class="date">7th July, 2015</p>
                        </div>
                    </div>
                </div>
            </div>
         </div>
            
    </div>