<div class="section section-why">
            <div class="main-container why-container">
                <h2 class="sub-title decoration">Why choose <span>Octavia?</span></h2>
                <p class="section-text">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium
                doloremque laudantium, totam rem aperiam, eaque ipsa quae ab.</p>
            </div>
            <div class="main-container blocks">
                    <a href >
                    	<i class="icon-clean-code"></i>
                        <h3>CLEAN CODE</h3>
                        <h4>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium</h4>
                    </a>
                    <a href="#">
                    	<i class="icon-magic-feature"></i>
                        <h3>magic features</h3>
                        <h4>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium</h4>
                    </a>
                    <a href="#">
                    	<i class="icon-design"></i>
                        <h3>kickass design</h3>
                        <h4>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium</h4>
                    </a>
                    <a href="#">
                    	<i class="icon-globe"></i>
                        <h3>multilanguage</h3>
                        <h4>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium</h4>
                    </a>
                    <a href="#">
                    	<i class="icon-settings"></i>
                        <h3>advanced settings</h3>
                        <h4>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium</h4>
                        </a>
                    <a href="#">
                    	<i class="icon-modular"></i>
                        <h3>MODULAR CODING</h3>
                        <h4>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium</h4>
                    </a>
                    <a href="#">
                    	<i class="icon-editable"></i>
                        <h3>fully editable</h3>
                        <h4>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium</h4>
                    </a>
                    <a href="#">
                    	<i class="icon-note"></i>
                        <h3>PIXEL PERFECT</h3>
                        <h4>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium</h4>
                    </a>
                </div>
            </div>
        </div>

        <div class="main-conteiner get-started">
            <h3 class="get-started-title">Experience the best quality with <span>Octavia</span></h3>
            <button class="btn__link started__btn">Get Started</button>
        </div>